body {
    background: rgb(233, 230, 236);
    background-image:url("images.png");
    color: rgb(0, 0, 0)
}
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 2px black
}