<html>
    <head>
    <style>
    body {
        display:block;
        background: url("E:\Github\Flask\images.png"); 
    }
    h1{
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
    }
    </style>
    <title>Object Detection & Distance Measurement</title>
    </head>
    <body>
    
    <h1 align = "center">Object Detection & Distance Measurement</h1>
    <p align ="center">
    <img src="{{ url_for('video_feed') }}">
    </p>
    </body>
</html>